---
import "@/styles/global.css";
import Footer from '@/shared/layout/Footer';
import Navbar from '@/shared/layout/Navbar';
import RecipeEditorComponent from '@/features/recipes/components/RecipeEditor';
import BaseHead from '@/shared/layout/BaseHead.astro';
---


<html lang="es">
  <head>
    <BaseHead title="Creación de Recetas - ChileBite" description="Panel de creación y edición de recetas para ChileBite." />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@100..700,0..1,-50..200&display=swap" rel="stylesheet" />
  </head>
<Navbar client:only="react" />
  <body class="bg-[#f7f7f6] dark:bg-[#0f1115] font-['Inter'] transition-colors duration-300 antialiased min-h-screen">
    <!-- Wrapper normal debajo del navbar -->
    <main class="mt-20 flex-1">
        <div class="py-12">
            <RecipeEditorComponent client:only="react" />
            
        </div>
    </main>
    <Footer/>
  </body>
</html>
