---
import "@/styles/global.css";
import Footer from '@/shared/layout/Footer';
import Navbar from '@/shared/layout/Navbar';
import RecipeEditor from '@/features/recipes/components/RecipeEditor';
---


<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Creación de Recetas</title>
    <!-- Evitar FOUC en modo oscuro -->
    <script is:inline>
      const theme = (() => {
        if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
          return localStorage.getItem('theme');
        }
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
          return 'dark';
        }
        return 'light';
      })();
      if (theme === 'dark') {
        document.documentElement.classList.add('dark');
      } else {
        document.documentElement.classList.remove('dark');
      }
    </script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@100..700,0..1,-50..200&display=swap" rel="stylesheet" />
  </head>
<Navbar client:only="react" />
  <body class="bg-[#f7f7f6] dark:bg-[#0f1115] font-['Inter'] transition-colors duration-300 antialiased min-h-screen">
    <!-- Wrapper normal debajo del navbar -->
    <main class="mt-20 flex-1">
        <div class="py-12">
            <RecipeEditor client:only="react" />
            
        </div>
    </main>
  </body>
  <Footer/>
</html>
