---
import "@/styles/global.css";
import Footer from '@/shared/layout/Footer';
import Navbar from '@/shared/layout/Navbar';
import TaxonomyManagerComponent from '@/features/admin/components/TaxonomyManager';
import BaseHead from '@/shared/layout/BaseHead.astro';
---


<html lang="es">
  <head>
    <BaseHead title="Gestor de Taxonomías - ChileBite" description="Administración de categorías, países y tipos de platos." />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap"
      rel="stylesheet"
    />
    <style>
        .material-symbols-outlined {
            font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
        }
    </style>
  </head>
  <body class="bg-stone-50 dark:bg-gray-900 text-gray-800 dark:text-gray-200 transition-colors duration-300 overflow-x-hidden">
    <!-- Navbar Absolute => Pushes content with mt-20 -->
    <Navbar client:only="react" />
    <main class="pt-20 pb-5 min-h-[calc(100vh-72px)]">
        <div class="py-4">
            <TaxonomyManagerComponent client:only="react" />
        </div>
    </main>
    <Footer/>
  </body>
</html>
