---
import "../../styles/global.css";
import DetalleReceta from '../../components/Recetario/DetalleReceta.jsx';
import CommentSection from '../../components/Recetario/SeccionComentarios.jsx';
import Footer from "../../layouts/Footer";
import Navbar from "../../layouts/Navbar";

const { id } = Astro.params; 
const recetaId = id ? parseInt(id) : null;

if (!recetaId || isNaN(recetaId)) {
    return Astro.redirect('/404');
}

// Fetch de la receta en el server usando fetch global de Node 18+
const receta = await fetch(`http://127.0.0.1:8000/api/recetas/${recetaId}/`)
                    .then(res => res.json())
                    .catch(() => null);

// Título base mientras React carga la receta
const pageTitle = receta?.nombre || `Detalle de Receta`;
---

<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{pageTitle}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
</head>
<body class="bg-fcf8f4">

    <Navbar client:only="react" />

    <!-- Contenedor principal que ocupará todo el ancho -->
    <div class="detalle-receta-contenedor w-full py-20">
        <DetalleReceta idReceta={id} client:only="react" />
        <CommentSection recipeId={recetaId} client:only="react" />
    </div>

    <Footer />

</body>
</html>