---
import "@/styles/global.css";
import Footer from "@/shared/layout/Footer";
import Navbar from "@/shared/layout/Navbar";
import RecipeGrid from "@/features/recipes/components/RecipeGrid";
import BaseHead from "@/shared/layout/BaseHead.astro";
---

<html lang="es">
  <head>
    <BaseHead title="Explorar Recetas - ChileBite" description="Descubre las mejores recetas chilenas e internacionales en ChileBite." />
  </head>

  <body
    class="bg-stone-50 dark:bg-gray-900 text-gray-800 dark:text-gray-200 transition-colors duration-300"
  >
    <Navbar client:only="react" />

    <!-- Wrapper normal debajo del navbar -->
    <div class="pt-20 pb-5">
      <RecipeGrid client:load />
    </div>
  </body>

  <Footer />
</html>
