---
import "../styles/global.css";
import Footer from "../layouts/Footer";
import Navbar from "../layouts/Navbar"
import Profile from "../components/Perfil/Profile.jsx"

---


<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Galería de Productos</title>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
/>

<Navbar client:only="react" />
<div>
    <Profile client:only="react" />
</div>
<Footer/>