---
import "@/styles/global.css";
import Navbar from '@/shared/layout/Navbar';
import Footer from '@/shared/layout/Footer';
import ResetPasswordClient from '@/features/auth/components/ResetPassword';
import BaseHead from '@/shared/layout/BaseHead.astro';
---

<html lang="es">
  <head>
    <BaseHead title="Recuperar Contraseña - ChileBite" description="Recupera el acceso a tu cuenta de ChileBite." />
  </head>
  <body
    class="bg-stone-50 text-gray-800 dark:bg-gray-900 dark:text-gray-200 transition-colors duration-300 min-h-screen flex flex-col"
  >
    <Navbar client:only="react" />
    <main class="min-h-screen flex items-center justify-center px-4">
      <ResetPasswordClient client:only="react" />
    </main>
    <Footer client:only="react" />
  </body>
</html>
