---
import "@/styles/global.css";
import Footer from '@/shared/layout/Footer';
import Navbar from '@/shared/layout/Navbar'
import UserProfile from '@/features/profiles/components/UserProfile'
import BaseHead from '@/shared/layout/BaseHead.astro';
---

<html lang="es">
<head>
    <BaseHead title="Mi Perfil - ChileBite" description="Visualiza y edita tu perfil de usuario en ChileBite." />
</head>
<body class="bg-stone-50 text-gray-800 dark:bg-gray-900 dark:text-gray-200 transition-colors duration-300 min-h-screen flex flex-col">
    <Navbar client:only="react" />
    
    <main class="flex-grow pt-24 pb-12 px-4 max-w-7xl mx-auto w-full">
        <UserProfile client:only="react" />
    </main>

    <Footer/>
</body>
</html>
