---
import "@/styles/global.css";
import Footer from '@/shared/layout/Footer';
import Navbar from '@/shared/layout/Navbar';
import SettingsPage from '@/features/settings/components/SettingsPage';
import BaseHead from '@/shared/layout/BaseHead.astro';
---

<html lang="es">
<head>
    <BaseHead title="Ajustes de Cuenta - ChileBite" description="Modifica tus ajustes de cuenta y preferencias en ChileBite." />
</head>
<body class="bg-stone-50 text-gray-800 dark:bg-gray-950 dark:text-gray-200 transition-colors duration-300 min-h-screen flex flex-col">
    <Navbar client:only="react" />
    <main class="flex-grow">
        <SettingsPage client:only="react" />
    </main>
    <Footer/>
</body>
</html>
